<nb-layout>
    <nb-layout-header fixed>
        <!-- Insert header here -->
        <div class="headerfix">
            <app-header></app-header>
            <app-wow-item-tooltip></app-wow-item-tooltip>
        </div>
    </nb-layout-header>

    <nb-sidebar *ngIf="menuItems$ | async as menuItems" class="menu-sidebar" [responsive]="true"
        [collapsedBreakpoints]="['xs','is','sm','md']" [compactedBreakpoints]="[]" [tag]="'leftSidebar'">
        <nb-menu [items]="menuItems" tag="leftMenu"></nb-menu>
        <app-sidebar-menu [items]="menuItems"></app-sidebar-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
        FOOTER
    </nb-layout-footer>
</nb-layout>