::ng-deep nb-layout .layout-container {
    max-width: 1460px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep nb-layout .main-container {
    padding-top: 3rem;

    .scrollable {
        padding-top: 0;
    }
}

.headerfix {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#spacer-header {
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
}

#sidebar-header {
    display: none;
}

@media(max-width: 768px) {
    #spacer-header {
        height: 30px;
    }

    #sidebar-header {
        display: block;
    }
}

.fragment-sidebar {
    background-color: var(--layout-background-color);
}