<app-wow-item-modal></app-wow-item-modal>
<nb-layout>
    <nb-layout-header fixed>
        <!-- Insert header here -->
        <div class="headerfix">
            <app-header [menuItems]="[]"></app-header>
            <app-wow-item-tooltip></app-wow-item-tooltip>
        </div>
    </nb-layout-header>

    <nb-sidebar *ngIf="newMenu$ | async as menuItems" class="menu-sidebar" [responsive]="true"
        [collapsedBreakpoints]="['xs','is','sm','md']" [compactedBreakpoints]="[]" [tag]="'leftSidebar'">
        <nb-menu [items]="menuItems" autoCollapse="true"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-sidebar right [tag]="'rightSidebar'" class="fragment-sidebar" [responsive]="true"
        [collapsedBreakpoints]="['xs','is','sm','md','lg']" [compactedBreakpoints]="[]">
        <app-sidebar-fragment *ngIf="fragmentItems$ | async as fragments" [items]="fragments"></app-sidebar-fragment>
    </nb-sidebar>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
        FOOTER
    </nb-layout-footer>
</nb-layout>