.itemTooltipBox {
    display: flex;
    gap: 5px;
    max-width: 400px;
    width: 100%;
}

.itemIcon {
    width: 40px;
    height: 40px;
}

.itemIconBig {
    width: 60px;
    height: 60px;
}

.itemName {
    font-size: larger;
    padding-left: 0.5rem;

    a {
        text-decoration: none;
    }
}

.createdBy {
    margin-top: 1px;
}

.flexColumn {
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spellList {
    margin-left: 0rem;
}

.reagent {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.itemIconSmall {
    width: 20px;
    height: 20px;

    margin-left: 3px;
    margin-right: 3px;
}

.countSpan {
    min-width: 2rem;
    text-align: end;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    //background-color: #fefefe;
    //margin: 30% auto;
    margin: 95px auto;
    /* 15% from the top and centered */
    //padding-top: 20px;
    //border: 1px solid #888;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    max-width: 400px;
}

.buttonBase {
    margin-right: 10px;

    a {
        margin-right: 10px;
    }
}