<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div>
            <button nbButton status="danger" (click)="close()">
                <nb-icon icon="close-outline"></nb-icon>
            </button>
        </div>

        <div class="itemTooltipBox">
            <img class="itemIconBig border" id="modalTooltipIcon">
            <div>
                <div class="border wow" id="modalTooltipContent"></div>
                <ng-container *ngIf="modalItem as item" [ngTemplateOutlet]="createdBy"
                    [ngTemplateOutletContext]="{item: item}"> </ng-container>
            </div>
        </div>
    </div>
</div>


<!-- Templates -->
<ng-template #createdBy let-item="item">
    <ng-container *ngIf="item.createdBy && item.createdBy.length > 0">
        <div class="border wow createdBy flexColumn">
            <div *ngFor="let spell of item.createdBy" class="flexColumn">
                <div class="spellHeader">
                    <!-- 
                          <img class="itemIconSmall border" loading="lazy"
                        src="../../../../assets/icons/large/{{item.icon}}.jpg"> 
                    -->
                    <div class="spellName">
                        {{spell.name}}
                    </div>

                </div>
                <div class="spellList">
                    <div *ngFor="let reagent of spell.reagents" class="reagent">
                        <span class="countSpan"> {{reagent.count}}x </span>
                        <img class="itemIconSmall border" loading="lazy"
                            src="../../../../assets/icons/large/{{reagent.icon}}.jpg">
                        <span class="q{{reagent.quality}}"> {{reagent.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>