h1 {
    margin-top: 0;
}

nb-card-body {
    table {
        width: 100%;

        border-collapse: collapse;

        td,
        th {
            padding: 8px;
            //border-width: 0 1px 1px 0;
        }

        th {
            font-size: larger;
            font-weight: 700;
        }

        td {
            a {
                text-decoration: none;
                //color: var(--menu-text-color)
            }

            span {
                color: grey;
            }

        }

        // dungeons
        // P1 -> P3
        .borderD:nth-child(13) {
            border-bottom: var(--card-divider-width) var(--card-divider-style) var(--card-divider-color);
        }

        // P3 -> P4
        .borderD:nth-child(14) {
            border-bottom: var(--card-divider-width) var(--card-divider-style) var(--card-divider-color);
        }

        // raids
        // P1 -> P2
        .borderR:nth-child(7) {
            border-bottom: var(--card-divider-width) var(--card-divider-style) var(--card-divider-color);
        }

        // P2 -> P3
        .borderR:nth-child(11) {
            border-bottom: var(--card-divider-width) var(--card-divider-style) var(--card-divider-color);
        }

        // P3 -> P4
        .borderR:nth-child(13) {
            border-bottom: var(--card-divider-width) var(--card-divider-style) var(--card-divider-color);
        }

        // P4 -> P6
        .borderR:nth-child(17) {
            border-bottom: var(--card-divider-width) var(--card-divider-style) var(--card-divider-color);
        }

        .center {
            text-align: center;
        }

        .left {
            text-align: left;

        }

        .tableRow:hover td {
            background-color: #2e3a59;
        }




    }
}