<div class="item" *ngIf="item$ | async as item; else loading">
    <img class="itemIcon border" src="../../../../assets/icons/{{itemSize}}/{{item.icon}}.jpg">
    <div class="itemText" (mousemove)="onMouseEvent($event,'move',item)"
        (mouseenter)="onMouseEvent($event,'enter',item)" (mouseleave)="onMouseEvent($event,'leave',item)">
        <a href="{{item.link}}">
            <div class="itemName q{{item.quality}}">
                {{item.name}}
            </div>
            <div class="itemSubText">
                Ring
            </div>
        </a>
    </div>
</div>

<ng-template #loading>
    <div class="item">
        <div class="itemIcon border"></div>
        <div class="itemText">
            <div class="itemName q0">
                <a href="">

                </a>
            </div>
        </div>
    </div>
</ng-template>