<div class="quest">
    <ng-container *ngIf="mobile$ | async as mobile; else questTemplate">
        <ng-container [ngTemplateOutlet]="questTemplateMobile">
        </ng-container>
    </ng-container>
</div>

<ng-template #questTemplate>
    <a href="{{quest.link}}" target="_blank" class="questLink" (mousemove)="onMouseEvent($event,'move')"
        (mouseenter)="onMouseEvent($event,'enter')" (mouseleave)="onMouseEvent($event,'leave')">
        <div class="questName q">
            [{{quest.name}}]
        </div>
    </a>
    <div *ngIf="quest.rewardData" class="rewards">
        <ng-container *ngFor="let item of quest.rewardData">
            <app-wow-item-lazy [item]="item" [showText]="false"></app-wow-item-lazy>
        </ng-container>
    </div>

</ng-template>

<ng-template #questTemplateMobile>
    MOBILE QUEST
</ng-template>