ul {
    list-style: none;
    margin-left: 0;

    padding-left: 20px;
}

li {
    margin-bottom: 0.8rem;

    a {
        cursor: pointer;
        text-decoration: none;
        color: var(--menu-text-color);
    }

    a:hover {
        color: var(--menu-item-icon-hover-color);
    }
}