<nb-card>
    <nb-card-header>
        <h2 class="flex-item-left">{{bossLink.name}}</h2>
        <app-options-buttons *ngIf="['A','B','C','D', 'DD'].includes(instanceType)"
            [bSize]="['A','B','C','D'].includes(instanceType)" [bFaction]="['B','D'].includes(instanceType)"
            [bDifficulty]="['B','C'].includes(instanceType)" class="flex-item-right">
        </app-options-buttons>
    </nb-card-header>
    <nb-card-body class="flex-container" [ngSwitch]="instanceType">

        <!-- Type A = Naxx etc -->
        <ng-container *ngSwitchCase="'A'" [ngTemplateOutlet]="typeA"> </ng-container>

        <!-- Type B TotC -->
        <ng-container *ngSwitchCase="'B'" [ngTemplateOutlet]="typeB"> </ng-container>

        <!-- Type C ICC/Halion -->
        <ng-container *ngSwitchCase="'C'" [ngTemplateOutlet]="typeC"> </ng-container>

        <!-- Type D VaultOfArchavon -->
        <ng-container *ngSwitchCase="'D'" [ngTemplateOutlet]="typeD"> </ng-container>

        <!-- Type DD = Dungeons -->
        <ng-container *ngSwitchCase="'DD'" [ngTemplateOutlet]="typeDD"> </ng-container>

    </nb-card-body>
</nb-card>

<!-- Templates -->

<ng-template #itemList let-boss="boss" let-array="array">
    <div>
        <div *ngFor="let item of array">
            <app-wow-item-lazy [item]="item" [itemSize]="'large'"
                [hardmode]="boss.hardmodeLoot?.includes(+item.id) || false">
            </app-wow-item-lazy>
        </div>
    </div>
</ng-template>

<ng-template #loot let-boss="boss" let-sortedLoot="sortedLoot">
    <div class="flex-item-left flex-column">
        <!-- Misc -->
        <ng-container *ngIf="sortedLoot.misc.length > 0" [ngTemplateOutlet]="itemList"
            [ngTemplateOutletContext]="{boss:boss, array: sortedLoot.misc}">
        </ng-container>

        <!-- Armor -->
        <ng-container *ngIf="sortedLoot.armor.length > 0" [ngTemplateOutlet]="itemList"
            [ngTemplateOutletContext]="{boss:boss, array: sortedLoot.armor}">
        </ng-container>
    </div>

    <div class="flex-item-right flex-column">
        <!-- Token -->
        <ng-container *ngIf="sortedLoot.tokens.length > 0" [ngTemplateOutlet]="itemList"
            [ngTemplateOutletContext]="{boss:boss, array: sortedLoot.tokens}">
        </ng-container>

        <!-- Jewelry -->
        <ng-container *ngIf="sortedLoot.jewelry.length > 0" [ngTemplateOutlet]="itemList"
            [ngTemplateOutletContext]="{boss:boss, array: sortedLoot.jewelry}">
        </ng-container>

        <!-- Weapon -->
        <ng-container *ngIf="sortedLoot.weapons.length > 0" [ngTemplateOutlet]="itemList"
            [ngTemplateOutletContext]="{boss:boss, array:sortedLoot.weapons}">
        </ng-container>
    </div>

    <div class="flex-item-left hardmode" *ngIf="boss.hardmode">
        <ng-container *ngFor="let hm of boss.hardmode">
            <app-wow-achievement [avID]="hm.id!" [descr]="hm.descr!"> </app-wow-achievement>
        </ng-container>
    </div>
</ng-template>

<ng-template #typeA>
    <ng-container *ngIf="boss$ | async as boss">
        <ng-container *ngIf="boss.sortedLootItems" [ngTemplateOutlet]="loot"
            [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootItems}"> </ng-container>
    </ng-container>
</ng-template>

<ng-template #typeB>
    <ng-container *ngIf="boss$ | async as boss">
        <ng-container *ngIf="options$ | async as options" [ngSwitch]="options">

            <ng-container *ngSwitchCase="'Normal-Alliance'">
                <ng-container *ngIf="boss.sortedLootItems" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootItems}">
                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'Normal-Horde'">
                <ng-container *ngIf="boss.sortedLootItemsHorde" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootItemsHorde}">
                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'Heroic-Alliance'">
                <ng-container *ngIf="boss.sortedLootHeroicItems" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootHeroicItems}">
                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'Heroic-Horde'">
                <ng-container *ngIf="boss.sortedLootHeroicItemsHorde" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootHeroicItemsHorde}">
                </ng-container>
            </ng-container>

        </ng-container>

    </ng-container>
</ng-template>

<ng-template #typeC>
    <ng-container *ngIf="boss$ | async as boss">
        <ng-container *ngIf="difficulty$ | async as diff" [ngSwitch]="diff">
            <ng-container *ngSwitchCase="'Normal'">
                <ng-container *ngIf="boss.sortedLootItems" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootItems}">
                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'Heroic'">
                <ng-container *ngIf="boss.sortedLootHeroicItems" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootHeroicItems}">
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #typeD>
    <ng-container *ngIf="boss$ | async as boss">
        <ng-container *ngIf="faction$ | async as faction" [ngSwitch]="faction">
            <ng-container *ngSwitchCase="'Alliance'">
                <ng-container *ngIf="boss.sortedLootItems" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootItems}">
                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'Horde'">
                <ng-container *ngIf="boss.sortedLootItemsHorde" [ngTemplateOutlet]="loot"
                    [ngTemplateOutletContext]="{boss:boss, sortedLoot: boss.sortedLootItemsHorde}">
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #typeDD>
    <ng-container *ngIf="boss$ | async as boss">
        <!-- Heroic -->
        <ng-container *ngIf="boss.sortedLootHeroicItems">
            <div class="flex-item-left">
                <h6>Heroic</h6>
                <ng-container *ngFor="let item of boss.sortedLootHeroicItems.misc">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootHeroicItems.armor">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootHeroicItems.jewelry">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootHeroicItems.tokens">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootHeroicItems.weapons">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
            </div>
        </ng-container>


        <!-- Normal -->
        <ng-container *ngIf="boss.sortedLootItems">
            <div class="flex-item-right">
                <h6>Normal</h6>
                <ng-container *ngFor="let item of boss.sortedLootItems.misc">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootItems.armor">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootItems.jewelry">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootItems.tokens">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
                <ng-container *ngFor="let item of boss.sortedLootItems.weapons">
                    <app-wow-item-lazy [item]="item" [itemSize]="'large'"></app-wow-item-lazy>
                </ng-container>
            </div>
        </ng-container>

        <div class="flex-item-left hardmode" *ngIf="boss.hardmode">
            <ng-container *ngFor="let hm of boss.hardmode">
                <app-wow-achievement [avID]="hm.id!" [descr]="hm.descr!"> </app-wow-achievement>
            </ng-container>
        </div>
    </ng-container>
</ng-template>