<nb-card #bossList>
    <nb-card-header>
        <h2 class="flex-item-left">{{subLink.name}}</h2>
        <app-filter-buttons [bSize]="['A','B','C','D'].includes(collectionType)"
            [bFaction]="['B','D'].includes(collectionType)" [bDifficulty]="['B','C'].includes(collectionType)"
            class="flex-item-right">
        </app-filter-buttons>
    </nb-card-header>
    <nb-card-body class="flex-container">
        <ng-container *ngIf="sub$ | async as sub">
            <ng-container *ngIf="filter$ | async as filter">
                <div class="flex-item-left flex-column" *ngIf="sub.left && sub.left!.length > 0">
                    <ng-container *ngFor="let entry of sub.left">
                        <ng-container *ngIf="entry.itemData && (filter | filterPipe:entry.filter?entry.filter:'')"
                            [ngTemplateOutlet]="itemList"
                            [ngTemplateOutletContext]="{array: entry.itemData , title: entry.name}">
                        </ng-container>
                    </ng-container>
                </div>

                <div class="flex-item-right flex-column" *ngIf="sub.right && sub.right!.length > 0">
                    <ng-container *ngFor="let entry of sub.right">
                        <ng-container *ngIf="entry.itemData && (filter | filterPipe:entry.filter?entry.filter:'')"
                            [ngTemplateOutlet]="itemList"
                            [ngTemplateOutletContext]="{array: entry.itemData , title: entry.name}">
                        </ng-container>
                    </ng-container>
                </div>

                <div class="mid-container" *ngIf="sub.mid && sub.mid!.length > 0">
                    <ng-container *ngFor="let entry of sub.mid">
                        <ng-container *ngIf="entry.itemData && (filter | filterPipe:entry.filter?entry.filter:'')"
                            [ngTemplateOutlet]="itemListFree"
                            [ngTemplateOutletContext]="{array: entry.itemData, title: entry.name}">
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </nb-card-body>
</nb-card>

<!-- Templates -->

<ng-template #itemList let-array="array" let-title="title" let-filterStr="filterStr">
    <div *ngIf="array.length > 0">
        <span *ngIf="['A','B','C','D'].includes(collectionType)">{{title}}</span>
        <div *ngFor="let item of array">
            <app-wow-item-lazy [item]="item" [itemSize]="'large'"> </app-wow-item-lazy>
        </div>
    </div>
</ng-template>

<ng-template #itemListFree let-array="array" let-title="title" let-filterStr="filterStr">
    <div *ngIf="array.length > 0" class="mid">
        <span *ngIf="['A','B','C','D'].includes(collectionType)">{{title}}</span>
        <div *ngFor="let item of array">
            <app-wow-item-lazy [item]="item" [itemSize]="'large'"> </app-wow-item-lazy>
        </div>
    </div>
</ng-template>