h2 {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}