#itemTooltipBase {
    position: absolute;
    z-index: 50;

    top: 100px;
    left: 0px;

    display: none;  
}

.itemTooltipBox {
    display: flex;
    gap: 5px;
    max-width: 400px;
    width: 100%;
}

.itemIcon {
    width: 40px;
    height: 40px;
}

.itemIconBig {
    width: 60px;
    height: 60px;
}

.itemName {
    font-size: larger;
    padding-left: 0.5rem;

    a {
        text-decoration: none;
    }
}