<h1>Raids</h1>

<nb-card>
    <nb-card-header>
        <h2>Overview</h2>
    </nb-card-header>
    <nb-card-body>
        <table>
            <tr class="tableRow">
                <th class="left">Raid</th>
                <th class="center">Phase</th>
                <th class="center">Loot Item Level</th>
                <th class="center">Raid Tier</th>
            </tr>
            <tr *ngFor="let raid of wowRaidsList" class="tableRow">
                <td class="left cRaid"> <a [routerLink]="raid.link">{{raid.name}} ({{raid.size}})</a></td>
                <td class="center cPhase">P{{raid.phase}}</td>
                <td class="center cLvl">
                    <ng-container *ngIf="raid.ilvlMin == raid.ilvlMax">
                        {{raid.ilvlMax}}
                    </ng-container>
                    <ng-container *ngIf="raid.ilvlMin < raid.ilvlMax">
                        {{raid.ilvlMin}}-{{raid.ilvlMax}}
                    </ng-container>
                </td>
                <td class="center cTier"> {{raid.tier}}</td>
            </tr>
        </table>
    </nb-card-body>
</nb-card>