.menu-title {
    flex: 1 0 auto;
    text-align: left;
    color: var(--menu-text-color);
}

.menu-titleTwo {
    color: grey;
}

#a {
    text-decoration: none;

    border-radius: var(--menu-item-border-radius);
    font-family: var(--menu-text-font-family);
    font-size: var(--menu-text-font-size);
    font-weight: var(--menu-text-font-weight);
    line-height: var(--menu-text-line-height);

    overflow: hidden;
    list-style-type: none;

    display: flex;
    align-items: center;
    padding: var(--menu-item-padding);
}

#a:hover {
    .menu-title {
        color: var(--menu-item-icon-hover-color) !important;
    }

    .menu-titleTwo {
        color: var(--menu-item-icon-hover-color) !important;
    }

    background-color: #2e3a59;
}