<!-- "Default" = single links -->
<ng-container
    *ngIf="menuItem.link && !menuItem.titleTwo && !menuItem.linkTwo && !menuItem.url && !menuItem.children && !menuItem.group">
    <a id="a" [routerLink]="menuItem.link" [class.active]="menuItem.selected" [attr.target]="menuItem.target"
        [attr.title]="menuItem.title" [routerLinkActive]="'router-link-active'">
        <span class="menu-title">{{ menuItem.title }}</span>
    </a>
</ng-container>

<!-- Single Links with TitleTwo-->
<ng-container
    *ngIf="menuItem.link && menuItem.titleTwo && !menuItem.linkTwo && !menuItem.url && !menuItem.children && !menuItem.group">
    <a id="a" [routerLink]="menuItem.link" [class.active]="menuItem.selected" [attr.target]="menuItem.target"
        [attr.title]="menuItem.title" [routerLinkActive]="'router-link-active'">
        <span class="menu-title">{{ menuItem.title }}</span>
        <span class="menu-titleTwo">{{menuItem.titleTwo}}</span>
    </a>
</ng-container>

<!-- Single Links with LinkTwo-->
<ng-container *ngIf="menuItem.link && menuItem.linkTwo && !menuItem.url && !menuItem.children && !menuItem.group">
    <ng-container *ngIf="size$ | async as size">
        <ng-container *ngIf="size === 10" [ngTemplateOutlet]="singleLinkWithLinkTwo"
            [ngTemplateOutletContext]="{link:menuItem.link}"> </ng-container>
        <ng-container *ngIf="size === 25" [ngTemplateOutlet]="singleLinkWithLinkTwo"
            [ngTemplateOutletContext]="{link:menuItem.linkTwo}"> </ng-container>
    </ng-container>

</ng-container>

<ng-template #singleLinkWithLinkTwo let-link="link">
    <a id="a" [routerLink]="link" [class.active]="menuItem.selected" [attr.target]="menuItem.target"
        [attr.title]="menuItem.title" [routerLinkActive]="'router-link-active'">
        <span class="menu-title">{{ menuItem.title }}</span>
        <span class="menu-titleTwo">{{menuItem.titleTwo}}</span>
    </a>
</ng-template>

<!-- Header with Children -->
<ng-container *ngIf="menuItem.children">
    <ul [routerLinkActive]="'router-link-active'">
        <div id="a" class="header">
            <span class="menu-title">{{ menuItem.title }}</span>
            <span class="menu-titleTwo">{{menuItem.titleTwo}}</span>
        </div>
        <ng-container *ngFor="let item of menuItem.children">
            <li>
                <a id="a" [routerLink]="item.link" [class.active]="item.selected" [attr.target]="item.target"
                    [attr.title]="item.title" [routerLinkActive]="'router-link-active'">
                    <span class="menu-title">{{ item.title }}</span>
                    <span *ngIf="menuItem.titleTwo" class="menu-titleTwo">{{item.titleTwo}}(24-40)</span>
                </a>
            </li>
        </ng-container>
    </ul>
</ng-container>