.logo {
    &.text {
        font-weight: bold;
        font-size: x-large;
        text-decoration: none;
    }
}

.outer {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
}

.section {
    display: flex;
    padding: 0.875rem 0.5rem;
    flex-direction: row;

    &.left {
        width: 16rem;

        align-items: center;
        gap: 0.5rem;

        button {
            display: none;
            color: white;

            padding-top: 0;
            padding-bottom: 0;

            nb-icon {
                height: 35px;
                width: 35px;
            }
        }

        @media(max-width: 992px) {
            button {
                display: inline
            }
        }
    }

    &.middle {
        flex: 1;
        align-items: center;
        margin: 0 -0.5rem;

        @media(max-width: 768px){
            nb-menu{
                display: none;
            }
        }
    }
}

.outer {
    ::ng-deep nb-menu {
        flex: 1;

        .menu-items {
            display: flex;
            justify-content: flex-start;

            .menu-item {
                border: none;

                a {
                    display: block;

                    &:hover,
                    &.active,
                    &:focus {
                        outline: none !important;
                    }
                }
            }
        }
    }
}