<div *ngIf="currentRaid$ | async as current">
    <h1>{{current.name}}</h1>

    <nb-card #bossList *ngFor="let boss of current.bosses">
        <nb-card-header>
            <h2>{{boss.name}}</h2>
        </nb-card-header>
        <nb-card-body class="flex-container" [ngSwitch]="current.type">
            <!-- {{boss.loot | json}} -->

            <!-- Type A = Naxx etc -->
            <ng-container *ngSwitchCase="'A'">
                <!-- Misc -->
                <div class="flex-item-left">
                    <h6>Normal</h6>
                    <div *ngFor="let item of boss.loot">
                        <!-- <a #item id="item" href="https://wotlkdb.com/?item={{item}}" rel="item={{item}}">loading...</a> -->
                        <app-wow-item [itemID]="item" [itemSize]="'large'"></app-wow-item>
                    </div>
                </div>
            </ng-container>

            <!-- Type B -->
            <div *ngSwitchCase="'B'">
                BBBB
            </div>

            <!-- Type C -->
            <div *ngSwitchCase="'C'">
                CCCC
            </div>
        </nb-card-body>
    </nb-card>
</div>