<div *ngIf="currentRaid$ | async as current">
    <h1>{{current.name}}</h1>

    <nb-card #bossList *ngFor="let boss of current.bosses">
        <nb-card-header>
            <h2>{{boss.name}}</h2>
        </nb-card-header>
        <nb-card-body class="flex-container" [ngSwitch]="current.type">
            <!-- {{boss.loot | json}} -->

            <!-- Type A = Naxx etc -->
            <ng-container *ngSwitchCase="'A'">

                <ng-container *ngIf="boss.sortedLoot">
                    <!-- Misc -->
                    <ng-container *ngIf="boss.sortedLoot.misc.length > 0">
                        <div class="">
                            <h6>Misc</h6>
                            <div *ngFor="let item of boss.sortedLoot.misc">
                                <app-wow-item [itemID]="item" [itemSize]="'large'"></app-wow-item>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Armor -->
                    <ng-container *ngIf="boss.sortedLoot.armor.length > 0">
                        <div class="">
                            <h6>Armor</h6>
                            <div *ngFor="let item of boss.sortedLoot.armor">
                                <app-wow-item [itemID]="item" [itemSize]="'large'"></app-wow-item>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Token -->
                    <ng-container *ngIf="boss.sortedLoot.tokens.length > 0">
                        <div class="">
                            <h6>Token</h6>
                            <div *ngFor="let item of boss.sortedLoot.tokens">
                                <app-wow-item [itemID]="item" [itemSize]="'large'"></app-wow-item>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Jewelry -->
                    <ng-container *ngIf="boss.sortedLoot.jewelry.length > 0">
                        <div class="">
                            <h6>Jewelry</h6>
                            <div *ngFor="let item of boss.sortedLoot.jewelry">
                                <app-wow-item [itemID]="item" [itemSize]="'large'"></app-wow-item>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Weapon -->
                    <ng-container *ngIf="boss.sortedLoot.weapons.length > 0">

                        <div class="">
                            <h6>Weapons</h6>
                            <div *ngFor="let item of boss.sortedLoot.weapons">
                                <app-wow-item [itemID]="item" [itemSize]="'large'"></app-wow-item>
                            </div>
                        </div>
                    </ng-container>

                </ng-container>

            </ng-container>

            <!-- Type B -->
            <div *ngSwitchCase="'B'">
                BBBB
            </div>

            <!-- Type C -->
            <div *ngSwitchCase="'C'">
                CCCC
            </div>
        </nb-card-body>
    </nb-card>
</div>