<div *ngIf="currentDungeon$ | async as current">
    <h1>{{current.name}}</h1>

    <nb-card #bossList *ngFor="let boss of current.bosses">
        <nb-card-header>{{boss.name}}</nb-card-header>
        <nb-card-body>
            {{boss.loot | json}}

            <div *ngFor="let item of boss.loot">
                <!-- <a #item id="item" href="https://wotlkdb.com/?item={{item}}" rel="item={{item}}">loading...</a> -->
                <app-wow-item [itemID]="item"></app-wow-item>
            </div>


        </nb-card-body>
    </nb-card>
</div>

<hr>
<div *ngIf="currentDungeon$ | async as current">
    {{current | json}}
</div>