<p>dungeons works!</p>

<hr>
<div *ngIf="currentDungeonName$ | async as current">
    {{current}}
</div>
<div *ngIf="currentDungeon$ | async as current">
    {{current | json}}
</div>
<hr>

<div *ngIf="currentDungeon$ | async as current">
    <h1>{{current.name}}</h1>

    <nb-card *ngFor="let boss of current.bosses">
        <nb-card-header>{{boss.name}}</nb-card-header>
        <nb-card-body>
            {{boss.loot | json}}

            <div *ngFor="let item of boss.loot">
                {{item}}
                <a href="#" rel="item={{item}}"></a>
            </div>
        </nb-card-body>
    </nb-card>
</div>