h1 {
    margin-top: 0;
}

#item {
    display: inline-block;
    height: 50px;
    font-size: x-large;
    text-decoration: none;
    background-size: 32px, 32px !important;

    span {
        padding-left: 15px !important;
    }
}

nb-card {
    position: relative;
}

nb-card-body {
    position: relative;
    overflow: visible;

    h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

@media (max-width: 768px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}