#item {
    display: inline-block;
    height: 50px;
    font-size: x-large;
    text-decoration: none;
    background-size: 32px, 32px !important;

    span {
        padding-left: 15px !important;
    }
}

nb-card{
    position: relative;
}

nb-card-body{
    position: relative;
    overflow: visible;
}