nb-button-group {
    outline: none;

    button {
        outline: none;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    gap: 5px;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

nb-select ::ng-deep {
    .select-button {
        max-width: 118px;
        min-width: 0;

        padding-right: 0px;
    }

}

.class-container {
    max-width: 100px;
}