h2 {
    margin: 0;
}

h6 {
    margin: 0;
}

nb-card-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
}

.mid-container {
    display: flex;
    flex-direction: column;
    //gap: 40px;

    width: 100%;
}

.mid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-self: stretch;
    width: 100%;
}

@media (max-width: 768px) {

    .flex-container {
        gap: 40px;
    }

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }

    .hardmode {
        margin-top: 0;
    }

    nb-card-header {
        gap: 5px
    }

    .mid {
        grid-template-columns: 100%;
    }
}

.hardmode {
    margin-top: 40px;
}

ul li {
    padding-bottom: 5px
}

ul {
    padding-left: 24px;
}